<template>
<div class="mt-4 w-100 bg-primary pb-4">
  Your Team
  <div class="d-flex flex-row flex-wrap justify-content-center">
     <div v-for="(pokemon, index) in pokemonTeam"
      :key="index">
      <div class="d-flex flex-column w-75"  @click="setPokemon(pokemon.id)">
          <img class="w-100" :src="spriteUrl + pokemon.id + '.png'">
          <span>{{pokemon.name}}</span>
      </div>
      <button @click="removeToTeam(pokemon)">Remove</button>
    </div>
  </div>
</div>
</template>
<script>
import pokemonService from '@/services/pokeapi';

export default {
  name: "PokemonTeam",
  props: {
    spriteUrl: {
        type: String,
        default: ''
      }
  },
  computed: {
    pokemonTeam() {
      return this.$store.state.pokemons.pokemons
    }
  },
  methods: {
    removeToTeam(pokemon) {
      this.$store.commit("pokemons/removeToTeam", pokemon.id)
    },
    setPokemon(id) {
    pokemonService
      .getPokemon(id)
      .then((response) => {
        const pokemon = response.data
        this.$emit('setPokemon', pokemon)
      })
      .catch((error) => {
        console.log(error)
        this.$emit('setPokemonDetails', 'error')
      })
    },
  }
}
</script>>