<template>
  <div class="detail">
    <div v-if="show" class=" bg-white w-50 p-3">
    <button type="button" class="close" @click="closeModal">X</button>
      <div class="d-flex justify-content-center flex-column mb-4">
        <img  :src="spriteUrlPokemon">
        <span class="text-center">{{pokemon.name}}</span>
      </div>
      <div class="d-flex justify-content-between">
      <span>Id</span>
      <span>{{pokemon.id}}</span>
      </div>
      <div class="d-flex justify-content-between">
      <span>Height</span>
      <span>{{pokemon.height}}</span>
      </div>
      <div class="d-flex justify-content-between">
      <span>Type</span>
        <div>
          <span v-for="(type, index) in pokemon.types" :key="index">{{type.type.name}} </span>
        </div>
      </div>
    </div>
    <div v-else>
      <span>Aucun pokemon n'a ete trouvé</span>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      pokemon: {
        type: Object,
        default: () => {
          return {}
        }
      },
      spriteUrlPokemon: {
        type: String,
        default: ''
      }
    },
    data: () => {
      return {
        show: true
      }      
    },
    created() {
    },
    methods: {
      closeModal() {
        this.$emit('closeModal')
      }
    }
  }
</script>
<style>
  .detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 90px 10px 10px;
    width: 100%;
    height: 100vh;
    background: rgba(10, 7, 0, 0.562); 
  }
</style>
