<template>
  <div>
    <div class="d-flex">
      <form @submit.prevent="setPokemon">
        <input v-model="searchvalue" class="mr-2" type="text" placeholder="Search with name or numbers">
      </form>
      <button @click="setPokemon">Search</button>
    </div>
    <p v-if="errorMsg" class="text-red">{{errorMsg}}</p>
  </div>
</template>
<script>
import pokemonService from '@/services/pokeapi';

  export default {
    name: 'PokemonSearch',
    data: () => {
      return {
        searchvalue: '',
        errorMsg: ''
      }
    },
    methods: {
      setPokemon() {
        if(this.searchvalue !== '')
          pokemonService
          .getPokemon(this.searchvalue)
          .then((response) => {
            const pokemon = response.data
            this.$emit('setPokemon', pokemon)
          })
          .catch((error) => {
            this.errorMsg = "Pokemon doesn't exist. Try again"
            console.log(error)
          })
        }
    }
  }
</script>