<template>
    <div class="d-flex flex-wrap justify-content-center">
      <div v-for="(pokemon, index) in pokemons"
      :key="index" class="">
        <div class="d-flex flex-column w-75 pointer"  @click="setPokemon(pokemon.id)">
          <img class="w-100" :src="spriteUrl + pokemon.id + '.png'">
          <span class="text-center">{{pokemon.name}}</span>
        </div>
        <button class="w-75" @click="addToTeam(pokemon)">Add</button>
      </div>
      <div id="scroll-trigger" ref="infinitescrolltrigger">
      
      </div>
    </div>
</template>
<script>
import pokemonService from '@/services/pokeapi';

export default {
  name: 'PokemonList',
  props: {
    spriteUrl: {
          type: String,
          default: ''
        },
  },
  data: () => {
    return {
      imageUrl: "",
      pokemons: [],
      nextUrl: '',
      currentUrl: '',
      offset: 20
    }
  },
  created() {
     this.getPokemons()
  },
  mounted() {
    this.scrollTrigger()
  },
  methods: {
  setPokemon(id) {
    pokemonService
      .getPokemon(id)
      .then((response) => {
        const pokemon = response.data
        this.$emit('setPokemon', pokemon)
      })
      .catch((error) => {
        console.log(error)
        this.$emit('setPokemonDetails', 'error')
      })
    },
    scrollTrigger() {
        const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            if(entry.intersectionRatio > 0) {
              this.offset += 20
              this.getPokemons(this.offset)
            }
          });
        });

        observer.observe(this.$refs.infinitescrolltrigger);
      },
      getPokemons(offset) {
        pokemonService
        .getAllPokemons(offset)
        .then((response) => {
          const pokemonsResponse = response.data.results
          Object.keys(pokemonsResponse).forEach(pokemon => {
            const id = pokemonsResponse[pokemon].url.split('/').filter(url => { return url !== '' }).pop()
            const name = pokemonsResponse[pokemon].name
            this.pokemons.push({id, name})
          })
        })
        .catch((error) => {
          console.log(error);
        })
      },
      addToTeam(pokemon) {
        if (this.$store.state.pokemons.count < 6) {
          pokemon.sprite = this.spriteUrl + pokemon.id + '.png'
          this.$store.commit("pokemons/addToTeam",pokemon);
        } else {
          console.log('You dont have any place to your team')
        }
      }
  }
}
</script>
<style>
.pointer {
  cursor: pointer;
}
</style>
