<template>
  <div class="container">
    <img
        class="w-100"
        alt="Vue logo"
        src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg">
    <h1>PokeNuxt</h1>
    <PokemonSearch @setPokemon="setPokemon"/>
    <PokemonTeam :spriteUrl="spriteUrl"  @setPokemon="setPokemon"/>
    <PokemonList :spriteUrl="spriteUrl" @setPokemon="setPokemon"/>
    <PokemonDetails v-if="showModal && pokemon" :pokemon="pokemon" :spriteUrlPokemon="spriteUrl + pokemon.id + '.png'" @closeModal="closeModal"/>
  </div>
</template>

<script>
import PokemonTeam from '@/components/PokemonTeam'
import PokemonSearch from '@/components/PokemonSearch'
import PokemonList from '@/components/PokemonList'
import PokemonDetails from '@/components/PokemonDetails'

export default {
  components: {
    PokemonSearch,
    PokemonList,
    PokemonDetails,
    PokemonTeam
  },
  data: () => {
    return {
      spriteUrl: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/",
      showModal: false,
      pokemon: {}
    }
  },
  methods: {
    setPokemon(pokemon) {
      this.showModal = true;
      this.pokemon = pokemon;
    },
    closeModal() {
      this.showModal = false;
       this.pokemon = {};
    }
  }
}
</script>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 1rem;
}
</style>
